*~
*#
.*.swp
/aclocal.m4
/autom4te.cache
/build-stamp
/config
/config.log
/config.guess
/config.status
/config.sub
/configure
/debian/files
/debian/vyatta-cfg-quagga
/debian/vyatta-cfg-quagga.debhelper.log
/INSTALL
/Makefile.in
/Makefile

/src/.deps/
/src/.dirstamp

generated-templates
