Source: vyatta-cfg-quagga
Section: contrib/net
Priority: extra
Maintainer: VyOS Package Maintainers <maintainers@vyos.net>
Build-Depends: debhelper (>= 5), autotools-dev, automake, autoconf, cpio
Standards-Version: 3.7.2

Package: vyatta-cfg-quagga
Architecture: any
Depends: sed (>= 4.1.5),
 perl (>= 5.8.8),
 procps (>= 1:3.2.7-3),
 coreutils (>= 5.97-5.3),
 vyatta-cfg (>= 0.18.56),
 vyatta-cfg-system (>= 0.19.125),
 libc6 (>= 2.7-6),
 vyatta-bash | bash (>= 3.1),
 vyatta-quagga (>= 0.99.15-26)
Suggests: util-linux (>= 2.13-5),
 net-tools,
 ethtool,
 ncurses-bin (>= 5.5-5),
 ntpdate
Description: VyOS configuration templates/scripts for Quagga
 VyOS configuration templates and scripts for Quagga
